{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'partials/_menu.html' %}

  {% include 'partials/_busca.html' %}

  <section class="controle__container">
    
    <div style="overflow-x:auto;">
      <table class="controle__table">
        <tr>
          <th>Veiculo</th>
          <th>Motorista</th>
          <th>Data Saida</th>
          <th>Visualizar</th>
          <th>Editar</th>
          <th>Excluir</th>
        </tr>
        {% if veiculos %}
        {% for veiculo in veiculos %}
        <tr>
          <td>{{ veiculo.veiculo.placa}}</td>
          <td>{{ veiculo.motorista.nome }}</td>
          <td>{{ veiculo.dataSaida }}</td>
          <th><a href="{% url 'detalhes' veiculo.id %}">Visualizar</a></th>
          <th><a href="{% url 'editarVeiculo' veiculo.id %}">Editar</a></th>
          <th><a href="{% url 'deletarVeiculo' veiculo.id %}">Excluir</a></th>
        </tr>
        {% endfor %}
        {% else %}
        <div>
          <h1 style="text-align: center; font-size: 1.5rem; font-weight: bold; margin: 1rem 0">Veiculos não encontrados</h1>
        </div>
        {% endif %}
      </table>
    </div>
  </section>

{% endblock %}